* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

:root {
  --secondary: #afd3e2;
  --hover: #19a7ce;
  --surface: #121212;
  --light: #f6f1f1;
  --tile: #19a7ce;
}

html {
  background-color: var(--light);
}
